---
layout: null
---

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

//shades of gray
$darker-gray: #0f0e0c;
$dark-gray: #23231f;
$light-gray: #9c9994;
$lighter-gray: #c3bcb2;


//colors
$red: #b63711;
$orange: #fb6900;
$yellow: #dcc319;
$white: #fff;
$black: #000;

$grayscale-primary: #219AB3 !default;
$grayscale-dark: #000 !default;
$grayscale-light: #fff !default;

$body-font-family: 'Lato', sans-serif;
$headline-font-family: 'Raleway', sans-serif;
$bold-24h-headline: 'Open Sans Condensed', sans-serif;

//general, fonts

body{
  color: white;
  background-color: $darker-gray;
  font-family: $body-font-family;
  font-size: 16px;
  font-weight: lighter;
}

.about-introduction{
  font-family: $body-font-family;
  font-size: 20px;
  padding: 0 30px;
}

@media(min-width:$screen-xs-max) {
  .about-introduction{
    padding: 0 60px;
  }
}


h1, h2, h3, h4 {
  font-family: $headline-font-family;
  margin-top: 1.2em;
  margin-bottom: 0.5em;

}

.center {
  text-align: center;
}

// general containers

.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container.first {
  margin-top: 80px;
}

// general buttons

.btn, .btn:hover, .btn:active {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 0;
  color:white;
  padding: 0 6px;
}


//navbar

.navbar-custom {
  .container {

  }
  margin-bottom: 0;
  border-bottom: 1px solid transparentize($grayscale-light, 0.7);
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: $grayscale-dark;

  .navbar-brand {
    font-weight: 700;

    &:focus {
      outline: none;
    }

    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: $grayscale-light;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  a {
    color: $grayscale-light;
  }

  .nav {

    li {

      &.active {
        outline: none;
        background-color: transparentize($grayscale-light, 0.7);
      }

      a {
        transition: background .3s ease-in-out;

        &:hover,
        &:focus,
        &.active {
          outline: none;
          background-color: transparentize($grayscale-light, 0.7);
        }
      }
    }
  }
}

@media(min-width:$screen-xs-max) {

  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: $grayscale-dark;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid transparentize($grayscale-light, 0.7);
  }
}

// intro

.intro {
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: $grayscale-light;
  background: transparent url(../images/demo_placeholder_map.png) no-repeat scroll center center;
  background-size: cover;
  -o-background-size: cover;

  &:before {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    content: "";
    background: rgba(0, 0, 0, 0.7);
  }

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .junction-logo img {
      max-width: 300px;

      @media screen and (max-width: $screen-xs-max) {
        & {
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 200px;
        }
      }
    }

    .junction-text {
      margin: 50px auto;
      width: 80%;
      max-width: 500px;
    }

    .junction-subtitle {
      font-size: 30px;
      font-family: 'Raleway';
      margin: 25px 0;
    }
    .date {
      margin-top: 5px;
      font-size: 19px;
    }
  }
  .slushhacks{
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); /* centering hack */
    width: 80%;
    max-width: 350px;

    img {
      width: 100%;
    }
  }
}

@media(min-width:$screen-xs-max) {
  .intro {
    height: 90vh;
    margin-top: 90px;

    .intro-body {

      .junction-text {
        margin: 50px auto 75px auto;
        max-width: 500px;
      }

      .junction-subtitle {
        margin: 0 17px;
        font-size: 34px;
        font-family: 'Raleway';
        margin-top: -30px;
      }

      .date {
        .btn{
          margin-left: 20px;
        }

      }
    }
  }
}

// about

#about {
  background-color: $darker-gray;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  h2 {
    margin-top: 0;
  }
}

@media(min-width:$screen-xs-max){
  .dotted-image{
    width: 100%;
    height: 200px;
    background: url('../images/svg_dots_top.svg') repeat-x center/auto 150px;
  }

  .dotted-image-bottom{
    width: 100%;
    height: 200px;
    background: url('../images/svg_dots_bottom.svg') repeat-x bottom/auto 150px;
  }
}

// tracks
#tracks, .dotted-image{
  background-color: $darker-gray;
}

#tracks .row:first-child {
  margin-bottom: 30px;
}

.track-box{
  // width: 100%;
  width: 100%;
  height: 262.5px;
  margin-bottom: 25px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;

  $primary-bg-size: contain;
  $secondary-bg-size: 100% auto;

  transition: box-shadow 0.1s ease-out;

  &:hover {
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
  }

  &.if {
    background: url(../images/logo_if2.png)no-repeat center/$primary-bg-size,
      linear-gradient(#2B6AB8, #2B6AB8) center/$secondary-bg-size no-repeat;
  }
  &.futurice {
    background: url(../images/logo_futurice.png)no-repeat center/$primary-bg-size,
      linear-gradient(rgb(50, 158, 65), rgb(50, 158, 65)) center/$secondary-bg-size no-repeat;
  }
  &.klarna {
    background: url(../images/logo_klarna.png)no-repeat center/$primary-bg-size,
      linear-gradient(#0089CF, #0089CF) center/$secondary-bg-size no-repeat;
  }
  &.shopify {
    background: url(../images/logo_shopify.png)no-repeat center/$primary-bg-size,
      linear-gradient(#6CA651, #6CA651) center/$secondary-bg-size no-repeat;
  }
  &.aero {
    background: url(../images/logo_aero.png)no-repeat center/auto 75%,
      linear-gradient(#E6E6E6, #E6E6E6) center/$secondary-bg-size no-repeat;
  }
  &.uber {
    background: url(../images/logo_uber.png)no-repeat center/$primary-bg-size,
      linear-gradient(#111224, #111224) center/$secondary-bg-size no-repeat;
  }
  &.rails {
    background: url(../images/logo_rails.png)no-repeat center/$primary-bg-size,
      linear-gradient(#BF3721, #BF3721) center/$secondary-bg-size no-repeat;
  }
  &.aaltoes {
    background: url(../images/logo_aaltoes-unlimited.png) no-repeat center/$primary-bg-size,
      linear-gradient(black, black) center/$secondary-bg-size no-repeat;
  }

}

.partner-logos {
  max-width: 750px;
  margin: 0 auto;

  .logo-row {
    margin: 0 -15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
  }

  .logo-box {
    height: 150px;
    width: 25%;
    float: left;
    padding: 0 25px;
    text-align: center;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;

    @media screen and (max-width: $screen-md-max) {
      width: 50%;
      height: 200px;
      padding: 0 50px;
    }
    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
      height: 200px;
      padding: 0 75px;
    }
  img {
    width: 100%;
    max-width: 350px;
    display: inline-block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;}
  }
}

.modal-content{
  color:white;
  padding: 30px 30px;

  .close-modal{
    float: right;
    font-size: 40px;
    cursor: pointer;
  }

  a, a:visited, a:hover, a:active{
      color: white;
      text-decoration: underline;
  }

  .track-box {
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
  }

  h2, h3{
    text-align: center;
    font-weight: 700;
  }

}

@media(min-width:$screen-xs-max){
  .modal-content{
    padding: 30px 100px;
  }

  .close-modal{
    margin-right: -65px;
  }

}

.modal-content .track-box {
  &:hover {
    box-shadow: none;
  }
}

#if-modal .modal-content{
  background-color: #2b6ab8;
}
#futurice-modal .modal-content{
  background-color: #389D46;
}
#klarna-modal .modal-content{
  background-color: #158ACC;
}
#shopify-modal .modal-content{
  background-color: #6CA651;
}
#aero-modal .modal-content{
  background-color: #e6e6e6;
  color: black;
}
#uber-modal .modal-content{
  background-color: #111224;
}
#rails-modal .modal-content{
  background-color: #bf3721;
}
#aaltoes-modal .modal-content{
  background-color: black;
}

.track-to-hack{
  margin-top: 30px;
  color: white;
}

#specs{
  position: relative;
  background-color: $dark-gray;
  background: #1B1A17;

  .content-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  h4{
    font-size: 30px;
    margin-top: 0;
    padding: 0 30px;
  }

  p{
    font-size: 18px;
    padding: 30px 30px;
    font-weight: 100;
    text-align: center;
  }

  .specs-icon{
    height: 75px;
  }
}

#apply {
  background-color: $darker-gray;
}

.social-container{
  display: inline-block;
  text-align: center;
}

#social {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(28, 28, 28);

  a {
    opacity: 0.8;
    transition: opacity 0.1s ease-out;
    &:hover {
      opacity: 1;
    }
  }

  img {
    height: 50px;
    padding: 10px;
    display: inline-block;

    &:hover {
      -webkit-filter: brightness(200%);
    }
  }
}

footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $darker-gray;
}

.blog {
  margin-top: 80px;

  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  img {
    display: block;
    max-width: 90%;
    margin: 50px auto;
  }
}

.blog-post {
  margin-bottom: 50px;
}

$apply-color: #F1B026;
$apply-color-hover: #EFEA3A;

.main-apply {
  display: inline-block;
  color: $apply-color;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  line-height: 53px;
  padding: 0 55px;
  font-size: 32px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid $apply-color;
  border-radius: 2px;

  transition: color 0.2s ease-in, background 0.2s ease-in,
    border-color 0.2s ease-in;

  &:hover, &:active {
    color: $apply-color-hover;
    border-color: $apply-color-hover;
    text-decoration: none;
  }
  &:active, &:focus {
    outline: none;
  }
}

.main-apply.full {
  color: black;
  background: $apply-color;
  border-color: $apply-color;
  font-weight: bold;

  &:hover {
    background: $apply-color-hover;
    border-color: $apply-color-hover;
  }
}

.alt-apply {
  width: 200px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  line-height: 53px;
  padding: 0 55px;
  font-size: 32px;
  margin-bottom: 100px;
  border: 3px solid $apply-color;
  border-radius: 2px;
  color: black;
  background: $apply-color;
  border-color: $apply-color;
  font-weight: bold;
  transition: color 0.2s ease-in, background 0.2s ease-in,
    border-color 0.2s ease-in;

  &:hover, &:active {
    border-color: $apply-color-hover;
    text-decoration: none;
  }
  &:active, &:focus {
    outline: none;
  }
  &:hover {
    background: $apply-color-hover;
    border-color: $apply-color-hover;
  }
}

.bars {
  position: relative;
  top: 0;
  width: 100%;
  height: 10px;
  background: #A72510;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 33%;
    height: 10px;
    background: #115A5D;
  }

  &:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 33%;
    height: 10px;
    background: #C6AC06;
  }

  &:last-child {
    top: auto;
    bottom: 0;
  }

  @media screen and (max-width: $screen-md-min) {
    &:before, &:after {
      display: none;
    }
  }

}

/* FAQ */

#FAQ{
  h4{
    margin-top: 50px;
    text-align: left;
    color: $apply-color;
  }

  p{
    text-align: left;
  }
}
