
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header" style="color:white">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars fa-lg"></i>
            </button>
            <a class="navbar-brand" href="{{ "/jp/index.html" | prepend: site.baseurl }}">
                Junction
            </a>
        </div>


        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
				<li>
                    <a class="page-scroll" href="{{ "/jp/partners.html" | prepend: site.baseurl }}">パートナー企業について</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/jp/schedule.html" | prepend: site.baseurl }}">スケジュール</a>
                </li>
		        <li>
                    <a class="page-scroll" href="{{ "/jp/hardware.html" | prepend: site.baseurl }}">機材</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/jp/faq.html" | prepend: site.baseurl }}">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
